.latLongField .middleColumn { min-height: 200px; }
.latLongField .middleColumn .latLongField_LatLong input { width: 100px; }
.latLongField .middleColumn .latLongField_AddressSearch { margin-top: 10px; }
.latLongField .middleColumn .latLongField_Address { width: 50%; }
.latLongField .middleColumn .latLongField_Map { width: 300px; height: 187px; border: 1px solid black; float: right; }
